:host {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border: 3px solid #333;
  border-radius: 50%;

  .indicator {
    position: absolute;
    width: 3px;
    height: 20px;
    top: 0px;
    left: 49%;
    background: #333;
    transform-origin: 50% 45px;
  }
}
